/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/resources/fomantic/gulpfile.js
/resources/fomantic/tasks/
/resources/fomantic/src/
/resources/fomantic/dist/components/
/resources/fomantic/dist/themes/basic/
/resources/fomantic/dist/themes/github/
/resources/fomantic/dist/themes/material/
